:root {
  height: 100%;

  font-family: "Inter", sans-serif;
  line-height: 1.5;

  color: rgba(255, 255, 255, 0.87);
  background-image: url("assets/img/pokemonBackground.jpg");

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  text-align: center;
}

.red {
  color: red;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  padding: 10px;
  background-color: deepskyblue;
  border: 2px solid deepskyblue;
  position: sticky;
  top: 0;
}

td {
  line-height: 2rem;
  background-color: #03045E;
  border: 2px solid deepskyblue;
}

.big-table-item {
  width: 55%;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1A2F44;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: lightskyblue;
}
