@font-face {
  font-family: Jersey10;
  src: url("./font/Jersey10.ttf");
}

@font-face {
  font-family: PokemonGb;
  src: url("./font/PokemonGb.ttf");
}

@keyframes pauseTimer {
  0% {
    color: white;
  }
  50% {
    color: #fbc02d;
  }
  100% {
    color: white;
  }
}


:root {
  background-color: rgb(0, 0, 50);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  overflow-y: hidden;
  min-height: 100vh;
  min-width: 100vw;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: darkblue;
}

::-webkit-scrollbar-thumb {
  background: rgb(200, 200, 200);
}
